* {max-width: 100%;}

body { 
    height: 100%;
    margin: 0;
    font-family: 'Inter', sans-serif;
}
ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
a {text-decoration: none;}

.nav-container{
    display: flex;
    height: 2.9rem;
    padding: 0 3.125rem;
    justify-content: space-between;
    margin-top: 2rem;
}
#buy-btn a {
    display: flex;
    padding: 0.9375rem 1.5625rem;
    align-items: flex-start;
    gap: 1.25rem;
    border-radius: 1.875rem;
    background: #2476FF;
    color: white;
}
#selected{
    color: #2476FF;
}
@media (min-width: 1200px){
 .container(max-width: max-width: 1140px)
}