 *{outline: 1px solid #f00 !important;}*/

*,
::after,
::before{
    box-sizing: border-box;
}
ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
a {text-decoration: none;}


.main-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        max-width: 75rem;
        margin: 0 20rem;
}


.nav-container{
    display: flex;
    height: 2.9rem;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    margin-top: 2rem;
}
#buy-btn a {
    display: flex;
    padding: 0.9375rem 1.5625rem;
    align-items: flex-start;
    gap: 1.25rem;
    border-radius: 1.875rem;
    background: #2476FF;
    color: white;
}